{
  "name": "com.thecollector.converter",
  "description": "The Collector native conversion host",
  "path": "__HOST_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://__EXTENSION_ID__/"
  ]
}
